@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html {
  background-color: #b50938;

}

.icon {
  width: 34px;
  height: auto;
}


body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
